<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travelboard.repository.TravelMapper">
	
	<!-- type="스프링이름" id="별명" -->
	<!-- <result property="스프링" column="DB이름" /> -->
	<resultMap type="TravelBoard" id="TravelResultMap">
		<result property="id" column="ID" />
		<result property="writer" column="WRITER" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regDate" column="REG_DATE" />
		<result property="hitCount" column="HIT_COUNT" />
	</resultMap>
	
	<!-- insert, update, delete 작업은 영향 받은 로우의 개수를 값을 자동으로 리턴한다. -->
	<insert id="insert" parameterType="TravelBoard">
		INSERT INTO travel_board(id, writer, title, content, reg_date, hit_count)
		VALUES(ID_SEQ_TRAVEL.NEXTVAL, #{writer}, #{title}, #{content}, SYSDATE, 0)
	</insert>
	
	<update id="update" parameterType="TravelBoard">
		UPDATE travel_board SET title=#{title}, content=#{content} WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM travel_board WHERE id=#{id}
	</delete>
	
	
	<select id="selectById" parameterType="long" resultMap="TravelResultMap">
		SELECT * FROM travel_board WHERE id=#{id}
	</select>
	
	<!-- Collection 처리는 자동으로 지원한다. resultType 자동 바인딩-->
	<!-- resultType="Board"를 사용할 수 있는 경우 테이블 칼럼 명이 모델 클래스 필드 변수명과 같을 때만 사용가능--> 
<!-- 	<select id="selectByLimit" resultType="TravelBoard">
		<bind name="start" value="@com.example.board.dto.Pager@seekStart(page, size)"/>
		<bind name="end" value="@com.example.board.dto.Pager@seekEnd(page, size)"/>
		SELECT * FROM (
			SELECT ROWNUM AS rnum, b.* FROM (
				SELECT * FROM travel_board ORDER BY id DESC
			) b
		) WHERE rnum &gt;= #{start} and rnum &lt;= #{end}
	</select> -->
	
	<update id="increment">
		UPDATE travel_board SET hit_count=hit_count+1 WHERE id=#{id} and writer!=#{requester}
	</update>
	
</mapper>